<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>foam_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2024},{3,1}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,34},{3,1}}</string>
                <key>sourceSize</key>
                <string>{43,95}</string>
            </dict>
            <key>foam_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,75},{9,9}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,33},{9,9}}</string>
                <key>sourceSize</key>
                <string>{43,95}</string>
            </dict>
            <key>foam_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,47},{9,15}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,34},{9,15}}</string>
                <key>sourceSize</key>
                <string>{43,95}</string>
            </dict>
            <key>foam_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,17},{13,23}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,32},{13,23}}</string>
                <key>sourceSize</key>
                <string>{43,95}</string>
            </dict>
            <key>foam_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2032},{13,27}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,34},{13,27}}</string>
                <key>sourceSize</key>
                <string>{43,95}</string>
            </dict>
            <key>foam_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2032},{13,29}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,33},{13,29}}</string>
                <key>sourceSize</key>
                <string>{43,95}</string>
            </dict>
            <key>foam_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,2},{13,23}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,39},{13,23}}</string>
                <key>sourceSize</key>
                <string>{43,95}</string>
            </dict>
            <key>foam_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,32},{13,17}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,45},{13,17}}</string>
                <key>sourceSize</key>
                <string>{43,95}</string>
            </dict>
            <key>foam_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,64},{9,9}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,53},{9,9}}</string>
                <key>sourceSize</key>
                <string>{43,95}</string>
            </dict>
            <key>girl0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1652},{236,230}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{236,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1414},{236,230}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{236,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,470},{236,232}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{236,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,470},{236,232}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{236,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,470},{236,232}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{236,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{236,234}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{236,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1668},{236,234}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{236,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1430},{236,234}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{236,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1192},{236,234}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{236,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,954},{236,234}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{236,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,716},{236,234}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{236,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,478},{236,234}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{236,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{236,234}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{236,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,472},{236,232}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{236,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,470},{236,232}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{236,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,236},{236,232}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{236,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,236},{236,232}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{236,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1176},{236,230}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{236,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,938},{236,230}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{236,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,236},{236,232}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{236,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,704},{236,230}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{236,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,704},{236,230}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{236,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,704},{236,230}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{236,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,238},{236,232}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{236,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,236},{236,232}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{236,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,2},{236,232}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{236,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,240},{236,234}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{236,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1668},{236,234}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{236,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{236,234}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{236,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1192},{236,234}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{236,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{236,234}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{236,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{236,234}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{236,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,236}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{236,236}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{236,234}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{236,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{236,234}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{236,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,2},{236,232}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{236,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,2},{236,232}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{236,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,706},{236,230}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{236,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,704},{236,230}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{236,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>girl0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{236,232}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{236,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>mill01.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1906},{96,111}}</string>
                <key>offset</key>
                <string>{-16,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{96,111}}</string>
                <key>sourceSize</key>
                <string>{128,145}</string>
            </dict>
            <key>mill02.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1906},{102,143}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{102,143}}</string>
                <key>sourceSize</key>
                <string>{128,145}</string>
            </dict>
            <key>mill03.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{96,97}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{96,97}}</string>
                <key>sourceSize</key>
                <string>{128,145}</string>
            </dict>
            <key>mill04.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1906},{102,143}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{102,143}}</string>
                <key>sourceSize</key>
                <string>{128,145}</string>
            </dict>
            <key>smoke0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2024},{21,42}}</string>
                <key>offset</key>
                <string>{1,-225}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,691},{21,42}}</string>
                <key>sourceSize</key>
                <string>{435,974}</string>
            </dict>
            <key>smoke0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2018},{25,58}}</string>
                <key>offset</key>
                <string>{0,-220}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,678},{25,58}}</string>
                <key>sourceSize</key>
                <string>{435,974}</string>
            </dict>
            <key>smoke0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2019},{27,70}}</string>
                <key>offset</key>
                <string>{0,-215}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,667},{27,70}}</string>
                <key>sourceSize</key>
                <string>{435,974}</string>
            </dict>
            <key>smoke0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,100},{29,78}}</string>
                <key>offset</key>
                <string>{0,-211}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,659},{29,78}}</string>
                <key>sourceSize</key>
                <string>{435,974}</string>
            </dict>
            <key>smoke0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2010},{33,90}}</string>
                <key>offset</key>
                <string>{-1,-206}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,648},{33,90}}</string>
                <key>sourceSize</key>
                <string>{435,974}</string>
            </dict>
            <key>smoke0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2010},{33,98}}</string>
                <key>offset</key>
                <string>{-1,-202}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,640},{33,98}}</string>
                <key>sourceSize</key>
                <string>{435,974}</string>
            </dict>
            <key>smoke0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1906},{37,108}}</string>
                <key>offset</key>
                <string>{-2,-198}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,631},{37,108}}</string>
                <key>sourceSize</key>
                <string>{435,974}</string>
            </dict>
            <key>smoke0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1906},{35,110}}</string>
                <key>offset</key>
                <string>{-1,-196}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,628},{35,110}}</string>
                <key>sourceSize</key>
                <string>{435,974}</string>
            </dict>
            <key>smoke0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1906},{35,116}}</string>
                <key>offset</key>
                <string>{-1,-193}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,622},{35,116}}</string>
                <key>sourceSize</key>
                <string>{435,974}</string>
            </dict>
            <key>smoke0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,1906},{35,124}}</string>
                <key>offset</key>
                <string>{-1,-188}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,613},{35,124}}</string>
                <key>sourceSize</key>
                <string>{435,974}</string>
            </dict>
            <key>smoke0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1906},{33,138}}</string>
                <key>offset</key>
                <string>{-1,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,598},{33,138}}</string>
                <key>sourceSize</key>
                <string>{435,974}</string>
            </dict>
            <key>smoke0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2010},{33,154}}</string>
                <key>offset</key>
                <string>{-1,-170}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,580},{33,154}}</string>
                <key>sourceSize</key>
                <string>{435,974}</string>
            </dict>
            <key>smoke0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,70},{31,174}}</string>
                <key>offset</key>
                <string>{-1,-158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,558},{31,174}}</string>
                <key>sourceSize</key>
                <string>{435,974}</string>
            </dict>
            <key>smoke0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,131},{29,190}}</string>
                <key>offset</key>
                <string>{-1,-145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,537},{29,190}}</string>
                <key>sourceSize</key>
                <string>{435,974}</string>
            </dict>
            <key>wheel_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,53},{15,32}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{15,32}}</string>
                <key>sourceSize</key>
                <string>{61,64}</string>
            </dict>
            <key>wheel_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,177},{15,30}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{15,30}}</string>
                <key>sourceSize</key>
                <string>{61,64}</string>
            </dict>
            <key>wheel_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,145},{15,30}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{15,30}}</string>
                <key>sourceSize</key>
                <string>{61,64}</string>
            </dict>
            <key>wheel_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,47},{15,32}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{15,32}}</string>
                <key>sourceSize</key>
                <string>{61,64}</string>
            </dict>
            <key>wheel_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,113},{15,30}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{15,30}}</string>
                <key>sourceSize</key>
                <string>{61,64}</string>
            </dict>
            <key>wheel_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,81},{15,30}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{15,30}}</string>
                <key>sourceSize</key>
                <string>{61,64}</string>
            </dict>
            <key>wheel_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,36},{15,32}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{15,32}}</string>
                <key>sourceSize</key>
                <string>{61,64}</string>
            </dict>
            <key>wheel_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,19},{15,32}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{15,32}}</string>
                <key>sourceSize</key>
                <string>{61,64}</string>
            </dict>
            <key>wheel_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2016},{15,30}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{15,30}}</string>
                <key>sourceSize</key>
                <string>{61,64}</string>
            </dict>
            <key>wheel_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,2},{15,32}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{15,32}}</string>
                <key>sourceSize</key>
                <string>{61,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beer_anims.png</string>
            <key>size</key>
            <string>{1828,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42a49a8d53ff96f2eeb6c458208d9c17$</string>
            <key>textureFileName</key>
            <string>beer_anims.png</string>
        </dict>
    </dict>
</plist>
