<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FishingRode_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,2},{132,463}}</string>
                <key>offset</key>
                <string>{202,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{636,163},{132,463}}</string>
                <key>sourceSize</key>
                <string>{132,463}</string>
            </dict>
            <key>FishingRode_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,250},{148,429}}</string>
                <key>offset</key>
                <string>{193,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{619,197},{148,429}}</string>
                <key>sourceSize</key>
                <string>{148,429}</string>
            </dict>
            <key>FishingRode_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,400},{148,541}}</string>
                <key>offset</key>
                <string>{332,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{758,92},{148,541}}</string>
                <key>sourceSize</key>
                <string>{148,541}</string>
            </dict>
            <key>FishingRode_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,400},{148,543}}</string>
                <key>offset</key>
                <string>{330,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{756,90},{148,543}}</string>
                <key>sourceSize</key>
                <string>{148,543}</string>
            </dict>
            <key>FishingRode_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,400},{146,545}}</string>
                <key>offset</key>
                <string>{327,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{754,88},{146,545}}</string>
                <key>sourceSize</key>
                <string>{146,545}</string>
            </dict>
            <key>FishingRode_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{142,547}}</string>
                <key>offset</key>
                <string>{322,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{751,85},{142,547}}</string>
                <key>sourceSize</key>
                <string>{142,547}</string>
            </dict>
            <key>FishingRode_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{138,549}}</string>
                <key>offset</key>
                <string>{315,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{746,82},{138,549}}</string>
                <key>sourceSize</key>
                <string>{138,549}</string>
            </dict>
            <key>FishingRode_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{128,549}}</string>
                <key>offset</key>
                <string>{306,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{742,81},{128,549}}</string>
                <key>sourceSize</key>
                <string>{128,549}</string>
            </dict>
            <key>FishingRode_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{116,547}}</string>
                <key>offset</key>
                <string>{293,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{735,81},{116,547}}</string>
                <key>sourceSize</key>
                <string>{116,547}</string>
            </dict>
            <key>FishingRode_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{98,547}}</string>
                <key>offset</key>
                <string>{279,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{730,79},{98,547}}</string>
                <key>sourceSize</key>
                <string>{98,547}</string>
            </dict>
            <key>FishingRode_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{76,549}}</string>
                <key>offset</key>
                <string>{262,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{724,76},{76,549}}</string>
                <key>sourceSize</key>
                <string>{76,549}</string>
            </dict>
            <key>FishingRode_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,547}}</string>
                <key>offset</key>
                <string>{246,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{719,77},{54,547}}</string>
                <key>sourceSize</key>
                <string>{54,547}</string>
            </dict>
            <key>FishingRode_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{58,541}}</string>
                <key>offset</key>
                <string>{243,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{714,83},{58,541}}</string>
                <key>sourceSize</key>
                <string>{58,541}</string>
            </dict>
            <key>FishingRode_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{72,529}}</string>
                <key>offset</key>
                <string>{234,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{698,95},{72,529}}</string>
                <key>sourceSize</key>
                <string>{72,529}</string>
            </dict>
            <key>FishingRode_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{90,513}}</string>
                <key>offset</key>
                <string>{224,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{679,112},{90,513}}</string>
                <key>sourceSize</key>
                <string>{90,513}</string>
            </dict>
            <key>FishingRode_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,136},{112,489}}</string>
                <key>offset</key>
                <string>{212,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{656,136},{112,489}}</string>
                <key>sourceSize</key>
                <string>{112,489}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rodIn1.png</string>
            <key>size</key>
            <string>{1024,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:300f033a33e9b8d85cb23f57ab575af5$</string>
            <key>textureFileName</key>
            <string>rodIn1.png</string>
        </dict>
    </dict>
</plist>
