<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FishingRode_120.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{170,297}}</string>
                <key>offset</key>
                <string>{181,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,332},{170,297}}</string>
                <key>sourceSize</key>
                <string>{170,297}</string>
            </dict>
            <key>FishingRode_123.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{170,297}}</string>
                <key>offset</key>
                <string>{181,-161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{596,332},{170,297}}</string>
                <key>sourceSize</key>
                <string>{170,297}</string>
            </dict>
            <key>FishingRode_126.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,297}}</string>
                <key>offset</key>
                <string>{181,-161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{596,332},{170,297}}</string>
                <key>sourceSize</key>
                <string>{170,297}</string>
            </dict>
            <key>FishingRode_129.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,346},{170,295}}</string>
                <key>offset</key>
                <string>{181,-162}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{596,334},{170,295}}</string>
                <key>sourceSize</key>
                <string>{170,295}</string>
            </dict>
            <key>FishingRode_132.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,346},{170,295}}</string>
                <key>offset</key>
                <string>{181,-162}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{596,334},{170,295}}</string>
                <key>sourceSize</key>
                <string>{170,295}</string>
            </dict>
            <key>FishingRode_135.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,598},{170,295}}</string>
                <key>offset</key>
                <string>{181,-162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,334},{170,295}}</string>
                <key>sourceSize</key>
                <string>{170,295}</string>
            </dict>
            <key>FishingRode_138.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,770},{170,293}}</string>
                <key>offset</key>
                <string>{181,-163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{596,336},{170,293}}</string>
                <key>sourceSize</key>
                <string>{170,293}</string>
            </dict>
            <key>FishingRode_141.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,598},{170,293}}</string>
                <key>offset</key>
                <string>{181,-163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{596,336},{170,293}}</string>
                <key>sourceSize</key>
                <string>{170,293}</string>
            </dict>
            <key>FishingRode_144.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,690},{170,293}}</string>
                <key>offset</key>
                <string>{181,-163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,336},{170,293}}</string>
                <key>sourceSize</key>
                <string>{170,293}</string>
            </dict>
            <key>FishingRode_147.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,690},{170,293}}</string>
                <key>offset</key>
                <string>{181,-163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,336},{170,293}}</string>
                <key>sourceSize</key>
                <string>{170,293}</string>
            </dict>
            <key>FishingRode_150.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,518},{170,293}}</string>
                <key>offset</key>
                <string>{181,-163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{596,336},{170,293}}</string>
                <key>sourceSize</key>
                <string>{170,293}</string>
            </dict>
            <key>FishingRode_153.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,301},{170,295}}</string>
                <key>offset</key>
                <string>{181,-162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,334},{170,295}}</string>
                <key>sourceSize</key>
                <string>{170,295}</string>
            </dict>
            <key>FishingRode_156.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,174},{170,295}}</string>
                <key>offset</key>
                <string>{181,-162}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{596,334},{170,295}}</string>
                <key>sourceSize</key>
                <string>{170,295}</string>
            </dict>
            <key>FishingRode_159.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,174},{170,295}}</string>
                <key>offset</key>
                <string>{181,-162}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{596,334},{170,295}}</string>
                <key>sourceSize</key>
                <string>{170,295}</string>
            </dict>
            <key>FishingRode_162.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{170,297}}</string>
                <key>offset</key>
                <string>{181,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,332},{170,297}}</string>
                <key>sourceSize</key>
                <string>{170,297}</string>
            </dict>
            <key>FishingRode_165.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{170,297}}</string>
                <key>offset</key>
                <string>{181,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,332},{170,297}}</string>
                <key>sourceSize</key>
                <string>{170,297}</string>
            </dict>
            <key>FishingRode_168.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,297}}</string>
                <key>offset</key>
                <string>{181,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,332},{170,297}}</string>
                <key>sourceSize</key>
                <string>{170,297}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rodKlev1.png</string>
            <key>size</key>
            <string>{985,985}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d904495f1bc645307c44e944877d097$</string>
            <key>textureFileName</key>
            <string>rodKlev1.png</string>
        </dict>
    </dict>
</plist>
