<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FishingRode_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{170,297}}</string>
                <key>offset</key>
                <string>{181,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,332},{170,297}}</string>
                <key>sourceSize</key>
                <string>{170,297}</string>
            </dict>
            <key>FishingRode_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{168,295}}</string>
                <key>offset</key>
                <string>{182,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,333},{168,295}}</string>
                <key>sourceSize</key>
                <string>{168,295}</string>
            </dict>
            <key>FishingRode_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,301},{168,291}}</string>
                <key>offset</key>
                <string>{182,-163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{598,337},{168,291}}</string>
                <key>sourceSize</key>
                <string>{168,291}</string>
            </dict>
            <key>FishingRode_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,471},{164,287}}</string>
                <key>offset</key>
                <string>{184,-164}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{602,340},{164,287}}</string>
                <key>sourceSize</key>
                <string>{164,287}</string>
            </dict>
            <key>FishingRode_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,637},{162,287}}</string>
                <key>offset</key>
                <string>{186,-164}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{605,340},{162,287}}</string>
                <key>sourceSize</key>
                <string>{162,287}</string>
            </dict>
            <key>FishingRode_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,801},{156,293}}</string>
                <key>offset</key>
                <string>{189,-160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{611,333},{156,293}}</string>
                <key>sourceSize</key>
                <string>{156,293}</string>
            </dict>
            <key>FishingRode_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,335},{150,303}}</string>
                <key>offset</key>
                <string>{193,-155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{618,323},{150,303}}</string>
                <key>sourceSize</key>
                <string>{150,303}</string>
            </dict>
            <key>FishingRode_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,640},{142,315}}</string>
                <key>offset</key>
                <string>{198,-148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{627,310},{142,315}}</string>
                <key>sourceSize</key>
                <string>{142,315}</string>
            </dict>
            <key>FishingRode_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{134,331}}</string>
                <key>offset</key>
                <string>{203,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{636,293},{134,331}}</string>
                <key>sourceSize</key>
                <string>{134,331}</string>
            </dict>
            <key>FishingRode_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{124,349}}</string>
                <key>offset</key>
                <string>{209,-130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{647,275},{124,349}}</string>
                <key>sourceSize</key>
                <string>{124,349}</string>
            </dict>
            <key>FishingRode_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{114,385}}</string>
                <key>offset</key>
                <string>{215,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{658,239},{114,385}}</string>
                <key>sourceSize</key>
                <string>{114,385}</string>
            </dict>
            <key>FishingRode_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{92,457}}</string>
                <key>offset</key>
                <string>{227,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{681,167},{92,457}}</string>
                <key>sourceSize</key>
                <string>{92,457}</string>
            </dict>
            <key>FishingRode_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{54,531}}</string>
                <key>offset</key>
                <string>{247,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{720,95},{54,531}}</string>
                <key>sourceSize</key>
                <string>{54,531}</string>
            </dict>
            <key>FishingRode_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,915},{52,567}}</string>
                <key>offset</key>
                <string>{258,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{732,60},{52,567}}</string>
                <key>sourceSize</key>
                <string>{52,567}</string>
            </dict>
            <key>FishingRode_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{96,567}}</string>
                <key>offset</key>
                <string>{286,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{738,62},{96,567}}</string>
                <key>sourceSize</key>
                <string>{96,567}</string>
            </dict>
            <key>FishingRode_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{126,553}}</string>
                <key>offset</key>
                <string>{307,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{744,77},{126,553}}</string>
                <key>sourceSize</key>
                <string>{126,553}</string>
            </dict>
            <key>FishingRode_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{142,545}}</string>
                <key>offset</key>
                <string>{320,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{749,86},{142,545}}</string>
                <key>sourceSize</key>
                <string>{142,545}</string>
            </dict>
            <key>FishingRode_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,541}}</string>
                <key>offset</key>
                <string>{328,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{753,91},{150,541}}</string>
                <key>sourceSize</key>
                <string>{150,541}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rodOut1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:357871e4d6476c92859620e9da972c98$</string>
            <key>textureFileName</key>
            <string>rodOut1.png</string>
        </dict>
    </dict>
</plist>
